
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>Productie Opgeven</h2>

<p>testtesttetsttestsetstttestetsettesttest</p>

<table id="product" style="border-color:black" 
    <tr>
        <th>11</th>
        <th>12</th>
        <th>13</th>
        <th>14</th>
    </tr> 
    <tr>
        <td>01</td>
        <td>01</td>
        <td>01</td>
        <td>01</td>
    </tr>
</table>

<form action="action_page.php">
  selecteer een week:
  <input type="week" name="year_week">
</form>

