
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>Productie Opgeven</h2>

<form action="~/Views/Productie/ProductieBijstellen"
<table>
    <tr>
        <td>week</td>
        <td>Product</td>
        <td>Aantal</td>
        <td></td>
    </tr>
    <tr>
        <td>hier moet een kalender komen</td>
        <td>@Html.DropDownList("Dagdelen")</td>
        <td>hier moet een veld komen waar alleen cijfers ingevuld kunnen worden</td>
        <td><input type="submit" value="opslaan" /></td>
    </tr>
</table>
</form>

@*@Html.DropDownList("Dagdelen")*@


@*<form action="action_page.php">
  selecteer een week:
  <input type="week" name="year_week">
</form>*@

